.waitlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.waitlist-box {
    width: 600px;
    padding: 80px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
}

.waitlist-box h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 800;
}

.waitlist-box label {
    display: block;
    font-size: .8em;
}

.waitlist-box input {
    font-size: .8em;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 12px;
}

.waitlist-box .captcha {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waitlist-box .button {
    background-color: #D2D4D8;
    color: #ffffff;
    width: 50%; 
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #D2D4D8; 
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.waitlist-box .button:hover {
    background-color: #A9A9A9;
}

.error-message {
    color: red;
    font-size: .8em;
    margin-top: 10px;
}

.success-message {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

.success-message a {
    color: #2A5C77;
    text-decoration: underline;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid rgb(56, 53, 53);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}